.home-container {
  display: grid;
  grid-template-columns: 53fr 47fr;
  height: 100vh;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.formkit-powered-by {
  display: none !important;
}
.right {
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  h1 {
    font-size: 85px;
    margin-left: 40px;
  }
  h5 {
    font-size: 25px;
    margin: 0 0 40px 40px;
  }
  .email-input-wrapper {
    margin-left: 40px;
    margin-bottom: 40px;
    width: 75%;
    min-height: 50px;
    input {
      border-radius: 5px;
      text-indent: 10px;
      font-size: 20px;
      height: 100%;
      width: 35%;
    }
    button {
      all: unset;
      border-radius: 10px;
      background-image: linear-gradient(to right, rgb(70, 224, 70),rgb(3, 70, 3));
      text-align: center;
      width: 100px;
      height: 100%;
      color: white;
    }
  }
  .info-wrapper {
    max-width: 50%;
    margin-left: 40px;
    p {
      color: gray;
    }
  }
}
